<footer style="margin-top: auto">
    <div class="limit-width row-between-center margin-t-2 font-small">
        <span class="flex-1 row-start-start gaps-h-0x5">
            <span class="text-left">{{years}}</span>
        </span>

        <span class="flex-1 text-center">
            <a href="/#contacts" class="decorate-link">write me</a>
        </span>

        <span class="flex-1 row-end-center gaps-h-0x5">
            <a href="#" class="fill-faded padding-1 busy-bg-pale" onclick="event.preventDefault(); window.scrollTo(0, 0)">
                {{include "svg-arrow-up"}}
            </a>
        </span>

    </div>
    <span class="fg-blue row-center-center padding-0x5 sm-hide font-small margin-b-2">
        Updated: {{now}}
    </span>
</footer>
