<div class="limit-width row-start-stretch margin-v-1 gaps-h-1">
    <nav class="row-start-stretch">
        <a href="/"      {{current "index.html" .}} class="navlink --busy">home</a>
<!--
        <a href="/works" {{current "works.html" .}} class="navlink --busy">works</a>
        <a href="/posts" {{current "posts.html" .}} class="navlink --busy">posts</a>
        <a href="/demos" {{current "demos.html" .}} class="navlink --busy">demos</a>
 -->
    </nav>

    <span class="flex-1"></span>
</div>
